@media (max-width: 830px){
	.menu{
		width: 80%;
	}
}

/*@media (max-width: 350px){
	#photo-bar{
		background: url("img/mobile.png");
		height: 70vh;
	}
}*/


@media (max-width: 830px) and (min-width: 700px){
	#contact{
		font-size: 15px;
		line-height: 15px;
	}

	.programs img{
		width: 18%;
	}
}

@media (max-width: 700px) and (min-width: 600px;) {
	#contact{
		font-size: 15px;
		line-height: 14px;
	}

	.programs img{
		width: 20%;
	}

	.button-contact{
		width: 25%;
	}

	.links img{
		width: 15%;
	}

	.text{
		width: 80%;
		font-size: 18px;
	}

	.work-name{
		margin-top: 25px;
		font-size: 19px;
	}

	.title{
		padding-top: 45px;
		font-size: 28px;
	}

	.example-work{
		margin-top: 60px;
	}

	.name{
		font-size: 37px;
		line-height: 55px;
	}

	.job{
		font-size: 15px;
	}

	.nav a{
		font-size: 15px;
	}
}

@media (max-width: 600px){
	.programs{
		flex-direction: column;
		align-items: center;
	}

	.programs img{
		width: 40%;
		margin-top: 60px;
	}

	.button-contact{
		width: 35%;
	}

	.links img{
		width: 13%;
	}

	.text{
		width: 90%;
		font-size: 18px;
		line-height: 21px;
	}

	.content-bar{
		width: 95%;
		margin: 0 auto;
	}

	.work-name{
		margin-top: 20px;
		font-size: 18px;
	}
}

@media (max-width: 450px){
	.job{
		display: none;
	}
}

@media (max-width: 350px){
	.menu-list a{
		font-size: 28px;
	}
	.button-contact{
		width: 45%;
	}

}